<div class="container">
  <h1 class="text-center font-weight-bold">絵にっきをかきなおす</h1>
  <%= render partial: "tweet_form_edit", locals: {
  	tweet: @tweet,
  	phrases: @tweet.phrase_type_and_text,
  	time: @tweet.created_at
  }%>
</div>