<div class="container">
  <h1 class="text-center font-weight-bold">絵にっきをかく</h1>
  <%= render partial: "tweet_form_new", locals: {
    tweet: @tweet,
    phrases: @sample_phrases,
    time: @current_date
  }%>
</div>

