<div class="contents row">
  <p><%= @nickname %>さんの　いままでの絵にっき</p>
  <div class="success">
    <% @tweets.each do |tweet| %>
      <%= render(tweet) %>
    <% end %>
    <%= paginate(@tweets) %>
  </div>
</div>

