<div class="container">
  <h1 class="text-center font-weight-bold"><%= @nickname %>の絵にっき</h1>
  <div>
    <% @tweets.each do |tweet| %>
      <%= render(tweet) %>
    <% end %>
    <%= paginate(@tweets) %>
  </div>
</div>

