<div class="contents row">
    <h3>
      ようこそ　×××　へ
    </h3>

      <a class="btn" id="mypage_btn" href="/">マイページへ</a>
      <%#= 親御様用ページへの隠しボタン（時間設定まだ） %>
          
    <%= image_tag("oekaki.png") %>
  <div class="success">
    <% if user_signed_in? %>    
      <a class="btn" href="/tweets/new">絵にっきをかく</a>    
      <a class="btn" href="/tweets">みんなの絵にっきを見る</a>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post', class: 'btn'%>
      <%= link_to "新規登録", new_user_registration_path, class: 'post', class: 'btn'%>
    <% end %>
  </div>

</div>
