$item_height: 30vh;

@mixin item_background_image_settings() {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.form_btns {
  .image_thumbnail {
    background-color: $lightGray;
    height: $item_height;

    @include item_background_image_settings();
  }
}


.tweet_forms {
  .form_items {
    .form_item {
      background-color: $lightGray;
      height: $item_height;
      margin: 1vh;

      +.image{
        @include item_background_image_settings();
      }

      label {
        font-weight: normal;
      }
      display: inline;
      &:hover {
        border-color: lighten($accent, 15%);
        color: lighten($accent, 15%);
      }
      .phrase_input {
        display: none;
      }

      &.checked {
        font-weight: bold;
      }
    }
    &:not(#image_items) {
      display: none;
    }
  }
}