.tweet_forms {
  .form_items {
    .form_item {
      background-color: $lightGray;
      height: 30vh;

      label {
        font-weight: normal;
      }
      display: inline;
      &:hover {
        border-color: lighten($accent, 15%);
        color: lighten($accent, 15%);
      }
      .phrase_input {
        display: none;
      }

      &.checked {
        font-weight: bold;
      }


      + .image {
        display: inline-block;
        max-height: 30vw;

        img {
          position: relative;
        }
      }
    }
    &:not(#image_items) {
      display: none;
    }
  }
}