$accent: #57C3E9;

.phrase_forms {
  .phrase_item {
    display: inline;
    &:hover {
      border-color: lighten($accent, 15%);
      color: lighten($accent, 15%);
    }
    .phrase_input {
      display: none;
    }
  }
}